PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:4200
JWT_SECRET=cambiar-este-secreto
INTERNAL_API_KEY=cambiar-api-key-woocommerce

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=animalia_repartos

ORS_API_KEY=
